node_modules/
venv/
*.pyc
__pycache__/
.DS_Store
firebase-cred.json
bruno/
backend/__pycache__/
backend/venv/
backend/backend/venv/
backend/backend/__pycache__/
backend/backend/firebase-cred.json
backend/backend/.env
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# IDEs
.DS_Store
.idea/
.vscode/

# Node.js
node_modules/
dist/

# Otros
*.log
frontend/build/
*.swp
*.swo